# Pythonのキャッシュファイルを無視
__pycache__/
*.pyc
.codex/
.vscode
.ziz

# 仮想環境フォルダを無視
env/
.env/



# OS固有のファイルを無視
.DS_Store
Thumbs.db
*.ipynb
*.ps1
slack_client.py
memo.md

workflows/
logs/
static/old
docs/

